{% extends 'base.html' %}


{% block body %}

<style>
    body {
        background-image: url('https://img.freepik.com/free-vector/hand-drawn-minimal-background_23-2148999829.jpg');
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .content {
        background-color: rgba(155, 119, 119, 0.8);
        margin: 20px;
        padding: 10px;
        border-radius: 50px;
        margin-left: 650px;
        margin-right: 650px;
        margin-top: 200px;


    }
</style>

<!-- Main Content -->
<div class="container mt-5">
    <h2 class="mb-4" style="text-align: center;"><b><u>UPDATE TODO</u></b></h2>
    <form method="POST">

        {% csrf_token %}

        <div class="form-group">
            <label for="task"
                style="font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black; "><b>Task :</b></label>
            <input type="text" class="form-control" id="task" placeholder="Enter task" rows="5" value="{{ todo.task }}" name="task" style="font-size: larger;" required>
        </div>
        <br>
        <div class="form-group">
            <label for="due-date"
                style="font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black; "><b>Created at : </b> </label>
            <input type="date" class="form-control" id="created_at" name="created_at" style="font-size: larger;"  required>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left: 300px; font-size: larger;">Update</button>
    </form>
</div>

{% endblock %}